<div id="menupestanas" style="margin:5px 5px 0 5px;">
    <ul>
        <li><a href="/Proceso">Procesos</a></li>
        <li><a href="/TipoDocumento">Tipos de Documento</a></li>
        <li><a href="/Empresa">Empresas</a></li>
        <li><a href="/TipoReclamo">Tipos de incidencia</a></li>
        <li><a href="/Parametro/CierreAutomatico">Cierre Automático</a></li>
        <li><a href="/Region">Regiones</a></li>
        <li><a href="/Mensajero">Mensajeros</a></li>
    </ul>
</div>