@using QuasarERPBanking.Models

@model QuasarERPBanking.Models.ActivoFijoTransacciones
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Movimiento de Productos</title>

    <script type="text/javascript">
    $(function () { 
      
        //$('.datepicker').datepicker(); //Initialise any date pickers
       
    });
    </script>
</head>
<body>
    @using (Html.BeginForm("Edit", "AF_TRANSACCIONES", FormMethod.Post, new { id = "myform" }))
    {
        Html.RenderPartial("FormAF_Transacciones");
    }
</body>
</html>

