@using QuasarERPBanking.Models

@model QuasarERPBanking.Models.CXP_MAESTRO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Maestro de Proveedores A</title>

</head>
<body>
@using (Html.BeginForm("Create", "CXP_MAESTRO", FormMethod.Post, new { id = "myform" }))
{
    Html.RenderPartial("FormCXP_Maestro");
}

    <script>
        $(function () {
           
        $("#Contactos").hide();
        habilitartodo();
        $("#CXPCOD_").prop('disabled', true);
        $("#Actividades").hide();
    })

  
     </script>
</body>
</html>
