@using QuasarERPBanking.Models

@model QuasarERPBanking.Models.CXP_MAESTRO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Maestro de Proveedores A</title>

    <script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $("#Contactos").hide();
        $('.datepicker').datepicker(); //Initialise any date pickers
        !$("#CXPCOD").prop('readonly', "true");
        $("#Actividades").hide();
    });
    </script>
</head>
<body>
@using (Html.BeginForm("Edit", "CXP_MAESTRO", FormMethod.Post, new { id = "myform" }))
{
    Html.RenderPartial("FormCXP_Maestro");
}
</body>
</html>
