@using QuasarERPBanking.Models
@model QuasarERPBanking.Models.CC_MAESTRO
@{
   
}
<!-- jQuery -->

<div>


    <form id="myForm2">
        <fieldset>
            <table>
                <tr>
                    <td>
                        <select id="ccosto" style="width: 200px;" class="form-control limpiar">
                            <option>-- Centro de Costo --</option>
                        </select>
                    </td>
                </tr>
            </table>

        </fieldset>
    </form>

</div>



<script type="text/javascript">

   
    $(function () {

    })


</script>
