@using Resources.CXP_ACTIVIDADES




@model QuasarERPBanking.Models.INV_NEMAESTRO

@{
    Layout = null;
   

}
<div>
   

    <form id="myForm3">
       <fieldset>
           <table>
               <tr>
                   <td>
                       <input type="text" id="nomb" style="width:100px" class="form-control" />
                   </td>
               </tr>
               <tr>
                   <td>
                       <textarea id="nomb" style="width:100px" class="form-control" rows="4" cols="50"></textarea>  
                   </td>
               </tr>
           </table>

       </fieldset>
    </form>

</div>



<script>
  




    $(function () {

    })

</script>