
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Activo Fijo</title>

    <script type="text/javascript">
    $(function () { 
        $('.datepicker').datepicker(); //Initialise any date pickers
        inhabilitartodo();
        //$("#AF_VALRES").prop('readonly', true);
    });
    </script>

</head>
<body>
    @using (Html.BeginForm("Edit", "AF_ASIGNA", FormMethod.Post, new { id = "myform" }))
    {
        Html.RenderPartial("FormAF_Asigna");

    }

</body>
</html>

